@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0; padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    /* background-color:aliceblue; */
}

body{
    display: flex; justify-content: center;
    align-items: center; height: 100vh;
}

.btn{
    width: 120px; height: 40px;
    font-size: 1.05em;
    background: transparent; border: none;
    position: relative; color: white;
    cursor: pointer;
}
.btn::before,
.btn::after{
    content: ''; position: absolute;
    bottom: 0; right: 0;
    z-index: -1; transition: all .4s;
}

.btn::before{
    bottom: 0; right: 0;
    width: 100%; height: 100%;
    background: #F05454;
    box-shadow: 0 10px 30px rgba(228, 88 ,88,0.568);
}

.btn::after{
    bottom: -10px; right: -10px;
    width: 40px;  height: 40px;
    background: #ffffff15; 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
    border-radius: 50px;
}

.btn:hover::before{
    bottom: -7px; right: -5%;
    width: 110%; height: 110%;
}

.btn:hover::after{
    border-radius: 0;   bottom: 0; right: 0;
    width: 100%; height: 100%;
}
